body * {margin-bottom:28;}

#main-title {font-size:14pt;}

#xite-view-container {width:480px; height:480px;}

#xite-view-container x3d-canvas {width:100%; height:100%;}

#xite-control * {font-size:12pt;}

.logo-image {height:72px; }